$icon-font-path: '../fonts/';
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

// ------------------------------------
// MODULES
// ------------------------------------

@import 'app/styles/modules/position-mixin';


// ------------------------------------
// PARTIALS
// ------------------------------------

@import 'app/styles/partials/logo';

// navigation
.navbar-inverse{
  background-color: #040101;
  .navbar-brand{
    padding-top: 10px;
    img{
      // height: 100%;
      width: 100px;
    }
  }
}

// jumbotron

  .jumbotron{
    background: url('/images/main.jpg') no-repeat top left;
    background-size: cover;
    height: 600px;
    .container{
      margin-top: 250px;
      .row{
        .col-xs-6{
          background-color: #000;
          padding: 25px;
          text-align: center;
          border: 2px solid #fff;
          border-radius: 3px;
          h1{
            margin-top: 10px;
            color :#fff;

          }
        }
      }

    }
  }
